body
{
   background-color: #ffffff;
    
}
#section1
{
    margin-top:60px;
    background-color: #F9D5D3;
    height: 500px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;

}
#section2
{
    
    background-color: #ECA4A6;
    height: 500px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
}
#section3
{
    background-color: #807F89;
    height: 500px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
}
#section4
{
    background-color: #99A89E;
    height: 500px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
}
#section5
{
    background-color: #BBC7BA;
    height: 500px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
}
.col
{
    text-align: center;
    color: white;
    
}

.card{
    font-size: medium;
}
body{
    background-attachment: fixed;
    background-image: url(https://i.imgur.com/eamuII4.png);
    background-repeat: round;
   
}
#comment
{
    font-size: medium;
}
.container
{
    height: 100vh;
}
#welcomebox{
    background-color: white;
    color:black;
    border-radius: 25px;
}
#skills{
    text-align: left;
    vertical-align: text-top;
}
.hardskills{
    font-size: small;
}
.softskills{
    font-size: small;
}
